@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
h1 {
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  font-size: 2.3em;
}
.page-container {
  font-family: 'Roboto', sans-serif;
  color: #222;
  line-height: 1.6;
  font-size: 1em;
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.avatar {
  width: 100%;
}
.avatar-section, .details-section {
   width: 50%;
   max-width: 600px;
   -ms-flex-item-align: center;
       align-self: center;
}
.details-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fade-in {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}
.actions {
  list-style: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.actions img {
  width: 40px;
  height: 40px;
  padding: 0 5px;
}
.actions .label {
  display: none;
}
.actions li {
  display: inline;
}

@media (min-width: 701px) {
  html, body, .page-container {
    height: 100%;
  }
}
@media (max-width: 700px) {
  .page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4em;
  }
  .avatar-section {
    width: 300px;
  }
  .details-section {
    width: 100%;
 }
  .actions {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 0;
  }
}
