@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  font-size: 2.3em;
}
.page-container {
  font-family: 'Roboto', sans-serif;
  color: #222;
  line-height: 1.6;
  font-size: 1em;
  margin: 0 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.avatar {
  width: 100%;
}
/* .avatar-section {
  min-height: 800px;
} */
.avatar-section, .details-section {
   width: 50%;
   max-width: 600px;
   align-self: center;
}
.details-section {
  display: flex;
  flex-direction: column;
}
.fade-in {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
   -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
       animation: fadein 2s;
}
.actions {
  list-style: none;
  align-self: flex-end;
}
.actions img {
  width: 40px;
  height: 40px;
  padding: 0 5px;
}
.actions .label {
  display: none;
}
.actions li {
  display: inline;
}

@media (max-width: 700px) {
  .page-container {
    flex-flow: column-reverse;
    align-items: center;
    margin-top: 4em;
  }
  .avatar-section {
    width: 300px;
    /* min-height: 400px; */
  }
  .details-section {
    width: 100%;
 }
  .actions {
    align-self: flex-start;
    padding: 0;
  }
}

